
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>One Page Wonder - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/one-page-wonder.min.css" rel="stylesheet">

</head>

<body>
<nav th:replace="fragments/template::potnav"></nav>


<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Lost :( and Found :)</h1>
      <!--<h2 class="masthead-subheading mb-0">Thank You </h2>-->
      <a sec:authorize="isAuthenticated()" href="/addlost" class="btn btn-primary btn-xl rounded-pill mt-5">Please click here to add lost items </a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<!--table display without category pic-->
<!--<section>-->
<!--<table class="table table-striped">-->
<!--<thead>-->

<!--<tr>-->
<!--<th scope="col">Image</th>-->
<!--<th scope="col">Title</th>-->
<!--<th scope="col">Description</th>-->
<!--<th sec:authorize="isAuthenticated()" scope="col">First Name</th>-->
<!--<th sec:authorize="isAuthenticated()" scope="col">Status</th>-->
<!--<th sec:authorize="isAuthenticated()" scope="col">Change Status</th>-->

<!--<th sec:authorize="isAuthenticated()" scope="col">Edit</th>-->

<!--</tr>-->
<!--</thead>-->
<!--<tbody >-->
<!--<tr th:each="lost: ${newLosts}">-->
<!--<td>   <img th:if="${lost.category.id eq 1  and lost.getImageUrl() =='' }" src="/img/pet.jpg">-->
<!--<img th:if="${lost.category.id eq 2  and lost.getImageUrl() =='' }" src="/img/cloth.jpg">-->
<!--<img th:if="${lost.category.id eq 3  and lost.getImageUrl() =='' }" src="/img/other.jpg">-->
<!--<img th:src="${lost.imageUrl}" alt="">-->
<!--</td>-->

<!--&lt;!&ndash;<td><span sec:authentication="name">Bob</span></td>&ndash;&gt;-->
<!--<td th:text="${lost.title}"></td>-->
<!--<td th:text="${lost.description}"></td>-->
<!--<td>-->
<!--<th:block  sec:authorize="isAuthenticated()" th:each="user:${lost.appUsers}">-->
<!--<p th:text="${user.firstName}"></p>-->
<!--</th:block>-->
<!--</td>-->
<!--<td sec:authorize="isAuthenticated()" th:text= "${lost.found}?'Found':'Not Yet Found'">Lost Status</td>-->

<!--<td sec:authorize="hasAuthority('ADMIN')">-->
<!--<a th:href="@{/lost/{id}(id=${lost.id})}" th:text= "${lost.found}?'Found':'Change to Found'"></a>-->

<!--</td>-->

<!--&lt;!&ndash;<td th:text=""></td>&ndash;&gt;-->

<!--<td sec:authorize="isAuthenticated()"> <a th:href="@{/editlost/{id}(id=${lost.id})}">Edit</a></td>-->


<!--</tr>-->


<!--</tbody>-->
<!--</table>-->
<!--</section>-->

<!--table display per category image-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-sm-4">-->
<!--<img src="/img/pet.jpg" alt="">-->
<!--<section>-->
<!--<table class="table table-striped">-->
<!--<thead>-->

<!--<tr>-->
<!--<th scope="col">Image</th>-->
<!--<th scope="col">Title</th>-->
<!--<th scope="col">Description</th>-->
<!--<th sec:authorize="isAuthenticated()" scope="col">First Name</th>-->
<!--<th sec:authorize="isAuthenticated()" scope="col">Status</th>-->
<!--<th sec:authorize="isAuthenticated()" scope="col">Change Status</th>-->

<!--<th sec:authorize="isAuthenticated()" scope="col">Edit</th>-->

<!--</tr>-->
<!--</thead>-->
<!--<tbody >-->
<!--<tr th:each="lost: ${petCategory}">-->
<!--<td>   <img th:if="${lost.category.id eq 1  and lost.getImageUrl() =='' }" src="/img/pet.jpg">-->
<!--<img th:if="${lost.category.id eq 2  and lost.getImageUrl() =='' }" src="/img/cloth.jpg">-->
<!--<img th:if="${lost.category.id eq 3  and lost.getImageUrl() =='' }" src="/img/other.jpg">-->
<!--<img th:src="${lost.imageUrl}" alt="">-->
<!--</td>-->

<!--&lt;!&ndash;<td><span sec:authentication="name">Bob</span></td>&ndash;&gt;-->
<!--<td th:text="${lost.title}"></td>-->
<!--<td th:text="${lost.description}"></td>-->
<!--<td>-->
<!--<th:block  sec:authorize="isAuthenticated()" th:each="user:${lost.appUsers}">-->
<!--<p th:text="${user.firstName}"></p>-->
<!--</th:block>-->
<!--</td>-->
<!--<td sec:authorize="isAuthenticated()" th:text= "${lost.found}?'Found':'Not Yet Found'">Lost Status</td>-->

<!--<td sec:authorize="hasAuthority('ADMIN')">-->
<!--<a th:href="@{/lost/{id}(id=${lost.id})}" th:text= "${lost.found}?'Found':'Change to Found'"></a>-->

<!--</td>-->

<!--&lt;!&ndash;<td th:text=""></td>&ndash;&gt;-->

<!--<td sec:authorize="isAuthenticated()"> <a th:href="@{/editlost/{id}(id=${lost.id})}">Edit</a></td>-->


<!--</tr>-->


<!--</tbody>-->
<!--</table>-->
<!--</section>-->

<!--</div>-->
<!--<div class="col-sm-4">-->
<!--<img src="/img/cloth.jpg" alt="">-->

<!--<section>-->
<!--<table class="table table-striped">-->
<!--<thead>-->

<!--<tr>-->
<!--<th scope="col">Image</th>-->
<!--<th scope="col">Title</th>-->
<!--<th scope="col">Description</th>-->
<!--<th sec:authorize="isAuthenticated()" scope="col">First Name</th>-->
<!--<th sec:authorize="isAuthenticated()" scope="col">Status</th>-->
<!--<th sec:authorize="isAuthenticated()" scope="col">Change Status</th>-->

<!--<th sec:authorize="isAuthenticated()" scope="col">Edit</th>-->

<!--</tr>-->
<!--</thead>-->
<!--<tbody >-->
<!--<tr th:each="lost: ${clothCategory}">-->
<!--<td>   <img th:if="${lost.category.id eq 1  and lost.getImageUrl() =='' }" src="/img/pet.jpg">-->
<!--<img th:if="${lost.category.id eq 2  and lost.getImageUrl() =='' }" src="/img/cloth.jpg">-->
<!--<img th:if="${lost.category.id eq 3  and lost.getImageUrl() =='' }" src="/img/other.jpg">-->
<!--<img th:src="${lost.imageUrl}" alt="">-->
<!--</td>-->

<!--&lt;!&ndash;<td><span sec:authentication="name">Bob</span></td>&ndash;&gt;-->
<!--<td th:text="${lost.title}"></td>-->
<!--<td th:text="${lost.description}"></td>-->
<!--<td>-->
<!--<th:block  sec:authorize="isAuthenticated()" th:each="user:${lost.appUsers}">-->
<!--<p th:text="${user.firstName}"></p>-->
<!--</th:block>-->
<!--</td>-->
<!--<td sec:authorize="isAuthenticated()" th:text= "${lost.found}?'Found':'Not Yet Found'">Lost Status</td>-->

<!--<td sec:authorize="hasAuthority('ADMIN')">-->
<!--<a th:href="@{/lost/{id}(id=${lost.id})}" th:text= "${lost.found}?'Found':'Change to Found'"></a>-->

<!--</td>-->

<!--&lt;!&ndash;<td th:text=""></td>&ndash;&gt;-->

<!--<td sec:authorize="isAuthenticated()"> <a th:href="@{/editlost/{id}(id=${lost.id})}">Edit</a></td>-->


<!--</tr>-->


<!--</tbody>-->
<!--</table>-->
<!--</section>-->

<!--</div>-->
<!--<div class="col-sm-4">-->
<!--<img src="/img/other.jpg" alt="">-->

<!--<section>-->
<!--<table class="table table-striped">-->
<!--<thead>-->

<!--<tr>-->
<!--<th scope="col">Image</th>-->
<!--<th scope="col">Title</th>-->
<!--<th scope="col">Description</th>-->
<!--<th sec:authorize="isAuthenticated()" scope="col">First Name</th>-->
<!--<th sec:authorize="isAuthenticated()" scope="col">Status</th>-->
<!--<th sec:authorize="isAuthenticated()" scope="col">Change Status</th>-->

<!--<th sec:authorize="isAuthenticated()" scope="col">Edit</th>-->

<!--</tr>-->
<!--</thead>-->
<!--<tbody >-->
<!--<tr th:each="lost: ${otherCategory}">-->
<!--<td>   <img th:if="${lost.category.id eq 1  and lost.getImageUrl() =='' }" src="/img/pet.jpg">-->
<!--<img th:if="${lost.category.id eq 2  and lost.getImageUrl() =='' }" src="/img/cloth.jpg">-->
<!--<img th:if="${lost.category.id eq 3  and lost.getImageUrl() =='' }" src="/img/other.jpg">-->
<!--<img th:src="${lost.imageUrl}" alt="">-->
<!--</td>-->

<!--&lt;!&ndash;<td><span sec:authentication="name">Bob</span></td>&ndash;&gt;-->
<!--<td th:text="${lost.title}"></td>-->
<!--<td th:text="${lost.description}"></td>-->
<!--<td>-->
<!--<th:block  sec:authorize="isAuthenticated()" th:each="user:${lost.appUsers}">-->
<!--<p th:text="${user.firstName}"></p>-->
<!--</th:block>-->
<!--</td>-->
<!--<td sec:authorize="isAuthenticated()" th:text= "${lost.found}?'Found':'Not Yet Found'">Lost Status</td>-->

<!--<td sec:authorize="hasAuthority('ADMIN')">-->
<!--<a th:href="@{/lost/{id}(id=${lost.id})}" th:text= "${lost.found}?'Found':'Change to Found'"></a>-->

<!--</td>-->

<!--&lt;!&ndash;<td th:text=""></td>&ndash;&gt;-->

<!--<td sec:authorize="isAuthenticated()"> <a th:href="@{/editlost/{id}(id=${lost.id})}">Edit</a></td>-->


<!--</tr>-->


<!--</tbody>-->
<!--</table>-->
<!--</section>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->


<div class="container">
  <div class="row">
    <div class="col-sm-6"><img src="/img/petCat.jpg" alt=""></div>
  </div>


  <div class="row">
    <div class="col-sm-12"> <section>
      <table class="table table-striped">
        <thead>

        <tr>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th sec:authorize="isAuthenticated()" scope="col">First Name</th>
          <th sec:authorize="isAuthenticated()" scope="col">Status</th>
          <th sec:authorize="isAuthenticated()" scope="col">Change Status</th>

          <th sec:authorize="isAuthenticated()" scope="col">Edit</th>
          <th sec:authorize="hasAuthority('ADMIN')" scope="col">Send Email</th>

        </tr>
        </thead>
        <tbody >
        <tr th:each="lost: ${petCategory}">
          <th:block th:if="${lost.category.id eq 1}">

            <td>   <img th:if="${lost.category.id eq 1  and lost.getImageUrl() =='' }" src="/img/pet.jpg">
              <img th:if="${lost.category.id eq 2  and lost.getImageUrl() =='' }" src="/img/cloth.jpg">
              <img th:if="${lost.category.id eq 3  and lost.getImageUrl() =='' }" src="/img/other.jpg">
              <img th:src="${lost.imageUrl}" alt="">
            </td>

            <!--<td><span sec:authentication="name">Bob</span></td>-->
            <td th:text="${lost.title}"></td>
            <td th:text="${lost.description}"></td>
            <td>
              <th:block  sec:authorize="isAuthenticated()" th:each="user:${lost.appUsers}">
                <p th:text="${user.firstName}"></p>

                <form th:action="@{/sendemail}" th:method="post">

                  <input type="hidden" th:name ="usernameforemail" th:value="${user.username}">

                  <input type="submit" value="SendEmailToUser">
                </form>


                </th:block>


            </td>
            <td sec:authorize="isAuthenticated()" th:text= "${lost.found}?'Found':'Not Yet Found'">Lost Status</td>

            <td sec:authorize="hasAuthority('ADMIN')">
              <a th:href="@{/lost/{id}(id=${lost.id})}" th:text= "${lost.found}?'Found':'Change to Found'"></a>

            </td>



            <!--<td th:text=""></td>-->

            <td sec:authorize="isAuthenticated()"> <a th:href="@{/editlost/{id}(id=${lost.id})}">Edit</a></td>
          </th:block>





        </tr>


        </tbody>
      </table>
    </section></div>
  </div>

  <div class="row">
    <div class="col-sm-6"> <img src="/img/clothCat.jpg" alt=""></div>
  </div>
  <div class="row">
    <div class="col-sm-12">    <section>
      <table class="table table-striped">
        <thead>

        <tr>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th sec:authorize="isAuthenticated()" scope="col">First Name</th>
          <th sec:authorize="isAuthenticated()" scope="col">Status</th>
          <th sec:authorize="isAuthenticated()" scope="col">Change Status</th>

          <th sec:authorize="isAuthenticated()" scope="col">Edit</th>

        </tr>
        </thead>
        <tbody >
        <tr th:each="lost: ${clothCategory}">
          <th:block th:if="${lost.category.id eq 2}"><td>   <img th:if="${lost.category.id eq 1  and lost.getImageUrl() =='' }" src="/img/pet.jpg">
            <img th:if="${lost.category.id eq 2  and lost.getImageUrl() =='' }" src="/img/cloth.jpg">
            <img th:if="${lost.category.id eq 3  and lost.getImageUrl() =='' }" src="/img/other.jpg">
            <img th:src="${lost.imageUrl}" alt="">
          </td>

            <!--<td><span sec:authentication="name">Bob</span></td>-->
            <td th:text="${lost.title}"></td>
            <td th:text="${lost.description}"></td>
            <td>
              <th:block  sec:authorize="isAuthenticated()" th:each="user:${lost.appUsers}">
                <p th:text="${user.firstName}"></p>
              </th:block>
            </td>
            <td sec:authorize="isAuthenticated()" th:text= "${lost.found}?'Found':'Not Yet Found'">Lost Status</td>

            <td sec:authorize="hasAuthority('ADMIN')">
              <a th:href="@{/lost/{id}(id=${lost.id})}" th:text= "${lost.found}?'Found':'Change to Found'"></a>

            </td>

            <!--<td th:text=""></td>-->

            <td sec:authorize="isAuthenticated()"> <a th:href="@{/editlost/{id}(id=${lost.id})}">Edit</a></td>
          </th:block>

        </tr>


        </tbody>
      </table>
    </section>
    </div>
  </div>



  <div class="row">
    <div class="col-sm-6"> <img src="/img/otherCat.jpg" alt=""></div>
  </div>
  <div class="row">
    <div class="col-sm-12">    <section>
      <table class="table table-striped">
        <thead>

        <tr>
          <th scope="col">Image</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th sec:authorize="isAuthenticated()" scope="col">First Name</th>
          <th sec:authorize="isAuthenticated()" scope="col">Status</th>
          <th sec:authorize="isAuthenticated()" scope="col">Change Status</th>

          <th sec:authorize="isAuthenticated()" scope="col">Edit</th>

        </tr>
        </thead>
        <tbody >
        <tr th:each="lost: ${otherCategory}">

          <th:block th:if="${lost.category.id eq 3}"> <td>   <img th:if="${lost.category.id eq 1  and lost.getImageUrl() =='' }" src="/img/pet.jpg">
            <img th:if="${lost.category.id eq 2  and lost.getImageUrl() =='' }" src="/img/cloth.jpg">
            <img th:if="${lost.category.id eq 3  and lost.getImageUrl() =='' }" src="/img/other.jpg">
            <img th:src="${lost.imageUrl}" alt="">
          </td>

            <!--<td><span sec:authentication="name">Bob</span></td>-->
            <td th:text="${lost.title}"></td>
            <td th:text="${lost.description}"></td>
            <td>
              <th:block  sec:authorize="isAuthenticated()" th:each="user:${lost.appUsers}">
                <p th:text="${user.firstName}"></p>
              </th:block>
            </td>
            <td sec:authorize="isAuthenticated()" th:text= "${lost.found}?'Found':'Not Yet Found'">Lost Status</td>

            <td sec:authorize="hasAuthority('ADMIN')">
              <a th:href="@{/lost/{id}(id=${lost.id})}" th:text= "${lost.found}?'Found':'Change to Found'"></a>

            </td>

            <!--<td th:text=""></td>-->

            <td sec:authorize="isAuthenticated()"> <a th:href="@{/editlost/{id}(id=${lost.id})}">Edit</a></td>
          </th:block>

        </tr>


        </tbody>
      </table>
    </section></div>
  </div>


</div>


<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="img/02.png" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">We salute you!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Footer -->
<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
